<h6 class="text-center bolded-blue">Study Completion</h6>
<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 60px;">
    <p class="bolded-blue" style="margin-right: 10px; margin-bottom: 0px;">0%</p>
    <div id="progress-bar" style="width: 35%; background-color: rgba(232,232,235,255); border-radius: 50px; ">
        <div id="bar" style="width: 0%; height: 15px; background-color: rgba(0,52,160,255);  border-radius: 50px; "></div>
    </div>
    <p class="bolded-blue" style="margin-left: 10px; margin-bottom: 0px;">100%</p>
</div>


<div id="question-box" class="instructions-stim-container">

    <div id="questionnaire">
        <div class="row gap-2">
            <h3 class="bolded-blue">
                <span data-i18n="study-mann-expl1"></span>
            </h3>
        </div>
    {{#each questions}}
        <div class="row mt-4">
            <h6 id="question-{{ this.id }}" data-type="question" class="bolded-blue">{{ this.text }}</h6>
            <div class="col d-flex justify-content-center">
                <div class="btn-group me-2" role="group" aria-label="First group">
    {{#each ../responses}}
                    <button type="button" data-qid="{{ ../this.id }}" data-rid="{{ this.id }}" class="btn btn-outline-primary" onclick="respondNormsQuestion({{ ../this.id }}, {{ this.id }})">
                        {{ this.text }}
                    </button>
    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}

        <div id="submit" class="row mt-4 invisible">
            <button id="button-save" type="button" class="btn btn-primary" data-bs-toggle="button"
                    data-i18n="study-mann-save" onclick="finishNormsQuest()"></button>
        </div>

    </div>
</div>

<script type="text/javascript">
    LITW.study.params.numNormQuestions = document.querySelectorAll('[data-type="question"]').length;

    $(document).ready(function() {
        LITW.study.params.questionsNorms = {};
        document.getElementById('submit').classList.add('invisible');
        let elem = document.getElementById("bar");
        elem.style.width = LITW.study.params.progressBarWidth + "%";
        console.log(elem.style.width);
    });


    function respondNormsQuestion (qID, rID) {
        selectNormsResponse(qID, rID);
        LITW.study.params.questionsNorms[qID] = rID;
        if(Object.keys(LITW.study.params.questionsNorms).length === LITW.study.params.numNormQuestions) {
            document.getElementById('submit').classList.remove('invisible');
        }
    }

    function selectNormsResponse (qID, rID) {
        document.querySelectorAll(`[data-qid='${qID}']`).forEach(btn => {
            if(btn.dataset.rid == rID && !btn.classList.contains('active')) {
                bootstrap.Button.getOrCreateInstance(btn).toggle();
            }
            if(btn.dataset.rid != rID && btn.classList.contains('active')) {
                bootstrap.Button.getOrCreateInstance(btn).toggle();
            }
        })
    }

    function finishNormsQuest () {
        let quest_norms = {
                responses: LITW.study.params.questionsNorms
            };
        LITW.study.params.norms_q_results = quest_norms;
        LITW.data.submitStudyData({
            quest_norms: quest_norms
        });
        document.getElementById('btn-next-page').click()
    }

</script>