<div id="question-box" class="instructions-stim-container">

    <div id="questionnaire">
        <div class="row gap-2">
            <h3 class="bolded-blue">
                <span data-i18n="study-mann-expl1"></span>
            </h3>
        </div>
    {{#each questions}}
        <div class="row mt-4">
            <h6 id="question-{{ this.id }}" data-type="question" class="bolded-blue">{{ this.text }}</h6>
            <div class="col d-flex justify-content-center">
                <div class="btn-group me-2" role="group" aria-label="First group">
    {{#each ../responses}}
                    <button type="button" data-qid="{{ ../this.id }}" data-rid="{{ this.id }}" class="btn btn-outline-primary">
                        {{ this.text }}
                    </button>
    {{/each}}
                </div>
            </div>
        </div>
    {{/each}}

        <div id="submit" class="row mt-4 invisible">
            <button id="button-save" type="button" class="btn btn-primary" data-bs-toggle="button"
                    data-i18n="study-tl-q2-save" onclick="finishNormsQuest()"></button>
        </div>

    </div>
</div>

<script type="text/javascript">

</script>